html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas:    "header nav"
                            "intro intro"
                            "aboutme aboutme"
                            "projects projects"
                            "contact contact"
                            "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8% 1fr 550px 1fr 1fr 5%;
    background-color:#131d36
}
#amphoto {
    height: 550px; width: 950px;
}
#pphoto {
    height: 575px; width: 937px;
    float: right;
}
header {
    grid-area: header;
}
header i {
    font-size: 32px;
    padding: 2rem;
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #03fcec;
}
#main a {
    float: right;
    font-size: 32px;
    padding: 2rem;
}
#main button {

}
#intro {
    grid-area: intro;
    grid-column: 1 / span 2;
    color: white;
    height: 35rem;
    padding-left: 32rem;
    position: relative;
}

#intro h1 {
    font-size: 65px;
    opacity: 75%;
    position: relative;
}
#intro p {
    width: 40rem;
    position: relative;
}
#amtitle {
    position: absolute;
    color: white;
    font-size: 48px;
    padding-left: 4rem;
}
#ampara {
    position: absolute;
    color: white;
    padding-left: 4rem;
    padding-top: 6rem;
}
#ampara2 {
    color:black;
    font-size: 1.5rem;
    width: 20rem;;
    position: absolute;
    margin-left: 63rem;
    padding-top: 6rem;
}
#amlist {
    color:black;
    font-size: 1.25rem;
    width: 20rem;;
    position: absolute;
    margin-left: 63rem;
    margin-top: 4rem;
    padding-top: 6rem;
}
#aboutme {
    grid-area: aboutme;
    background-color: #cfcfcf;
}
#projects {
    grid-area: projects;
}

#contact {
    grid-area: contact;
    background-color: #cfcfcf;
}

.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #FFF; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #131d36;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    position: static;
    margin-left: 25px;
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #131d36;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #131d36;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

footer {
    grid-area: footer;
}
